<form [formGroup]='registerForm' (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign up</h2>
    <hr>
    <!-- [(ngModel)], bạn đang tạo một liên kết hai chiều giữa dữ liệu -->
    <div class="form-group mb-3">
        <input 
            [class.is-invalid]='registerForm.get("username")?.errors 
                && registerForm.get("username")?.touched'
            type="text" 
            class = "form-control" 
            formControlName = "username" 
            placeholder="Usename">
        <div class="invalid-feedback">Please enter a username</div>
    </div>
    <!-- <div class="form-group mb-3">
        <label>Who is your favourite user ?</label>
        <select class="form-control">
            <option *ngFor="let user of usersFromHomeComponent" [value]="user.userName">
                {{user.userName}}
            </option>
        </select>
    </div> -->
    <div class="form-group mb-3">
        <input 
            [class.is-invalid]='registerForm.get("password")?.errors 
                && registerForm.get("password")?.touched'
            type="password" 
            class="form-control" 
            formControlName = "password" 
            placeholder="Password">
        <div *ngIf = "registerForm.get('password')?.hasError('required')"     
            class="invalid-feedback">Please enter a password</div>
        <div *ngIf = "registerForm.get('password')?.hasError('minlength')"     
            class="invalid-feedback">Password must be at least 4 charaters</div>
        <div *ngIf = "registerForm.get('password')?.hasError('maxlength')"      
            class="invalid-feedback">Password must be at most 8 charaters</div>
    </div>
    <div class="form-group">
        <input 
            [class.is-invalid]='registerForm.get("confirmPassword")?.errors 
                && registerForm.get("confirmPassword")?.touched'
            type="password" 
            class="form-control" 
            formControlName = "confirmPassword" 
            placeholder="Confirm Password">
        <div *ngIf = "registerForm.get('confirmPassword')?.hasError('required')"     
            class="invalid-feedback">Please enter a confirm password</div>
        <div *ngIf = "registerForm.get('confirmPassword')?.hasError('isMatching')"     
            class="invalid-feedback">Confirm password must match password</div>
    </div>
    <div class="form-group text-center">
        <button class="btn btn-success m-lg-3" type="submit">Register</button>
        <button class="btn btn-secondary" (click)="cancel()" type="button">Cancel</button>
    </div>
</form>

<p>Form value: {{registerForm.value | json}}</p>
<p>Form status: {{registerForm.status | json}}</p>
